dcc-application-services/avaya-cc-reports
dcc-application-services/dcc-socialmedia-webhook
dcc-application-services/dcc-uilogs
dcc-application-services/fileserver-microservices
dcc-application-services/inaipi-dcc-socketio
dcc-application-services/inaipi-digital-channels