version: '3.9'
services:
  mongoDB:
    image: 'mongo:5.0'
    container_name: dcc-mongo-db
    hostname: inaipi-mongodb
    logging:
      driver : local
      options:
        max-size: "10M"
    restart: always
    ports:
      - '27017:27017'
    volumes:
      - 'mongoDb:/data/db'
    networks:
      - dcc-network
  redis:
    image: 'redis/redis-stack:6.2.6-v7'
    container_name: dcc-redis-stack
    hostname: inaipi-redis
    logging:
      driver : local
      options:
        max-size: "10M"
    restart: always
    ports:
      - '6379:6379'
      - '8000:8001'
    volumes:
      - 'redisData:/data'
    networks:
      - dcc-network
  mssql:
    image: 'mcr.microsoft.com/mssql/server:2022-latest'
    container_name: dcc-mssql-db
    hostname: inaipi-mssql
    restart: always
    ports:
      - '1433:1433'
    environment:
      ACCEPT_EULA: 'Y'
      MSSQL_SA_PASSWORD: inaipi@2022$$
    networks:
      - dcc-network
  rabbitMQ:
    image: 'rabbitmq:3-management'
    container_name: dcc-rabbitMQ
    hostname: inaipi-rabbitMQ
    logging:
      driver : local
      options:
        max-size: "10M"
    restart: always
    ports:
      - '15672:15672'
      - '5672:5672'
    environment:
      RABBITMQ_DEFAULT_VHOST: inaipi_vhost
      RABBITMQ_DEFAULT_USER: inaipi
      RABBITMQ_DEFAULT_PASS: inaipi@2022
    volumes:
      - 'rabbitData:/var/lib/rabbitmq'
    networks:
      - dcc-network
  eureka:
    image: 'devopsedaya/dcc-eureka-release-v-1.1.001'
    container_name: dcc-eureka
    hostname: inaipi-eureka
    logging:
      driver : local
      options:
        max-size: "10M"
    restart: always
    ports:
      - '9090:9090'
    networks:
      - dcc-network
volumes:
  mongoDb: null
  redisData: null
  mssqlData: null
  rabbitData: null
networks:
  dcc-network:
